# Python cache files
__pycache__/
.mypy_cache/
.ruff_cache/

# Python environment files
.python-version
.venv/
poetry.lock

# Project-specific files
weights/
checkpoints/
logs/

# IDE files
.idea/

monkeytype.sqlite3
logs/